<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40542382673-8d5vhp90apnvajh23c5ah6b1o8mn0mdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40542382673-8d5vhp90apnvajh23c5ah6b1o8mn0mdk</string>
	<key>API_KEY</key>
	<string>AIzaSyAsTWUq7FoAY5ZDwGWen0MC4t8i7hDarGE</string>
	<key>GCM_SENDER_ID</key>
	<string>40542382673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-57184</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-57184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40542382673:ios:b5991e64f3059f693d2670</string>
</dict>
</plist>